.homeBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeBanner h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700;
    position: absolute;
}