.apartmentCarrousel {
    display: flex;
    position: relative;
    align-items: center;
	justify-content: center;
    height: 415px;
    overflow: hidden;
}

.apartmentCarrouselImg {
    width: 1240px;
    height: 415px;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    border: none;
    background: none;
    cursor: pointer;
}

.arrow_left {
    left: 10px;
}

.arrow_right {
    right: 10px;
}

.imageIndex {
    position: absolute;
    bottom: 20px;
}

.imageIndex span {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

@media (max-width: 599px) {
        
    .apartmentCarrousel {
        width: 335px;
        height: 255px;
        margin: 0 auto;
        border-radius: 10px;
    }

    .apartmentCarrouselImg {
        width: 335px;
        height: 255px;
    }

    .arrow img {
        width: 24px;
    }

    .arrow_left {
        left: 5px;
    }
    
    .arrow_right {
        right: 5px;
    }

    .imageIndex span {
        display: none;
    }  
}