html {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.collapse {
    display: flex;
    flex-direction: column;
    width: 1023px;
    color: rgb(255, 255, 255);
    margin: 30px auto;
  }
  
  .collapseContent {
    display: flex;
    height: 52px;
    justify-content: space-between;
    background-color: rgb(255, 96, 96);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .collapseTitle {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 15px;
  }
  
  .collapseArrow {
    height: 32px;
    width: 32px;
    padding: 10px 20px;
  }
  
  .collapseDescriptionContent {
    background-color: rgb(246, 246, 246);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  }
  
  .collapseDescriptionContent p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: left;
  }
  