.hostInformations {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.hostName {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 96, 96);
}

.hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

@media (max-width: 599px) {
    
    .hostName {
        font-size: 12px;
    }
    
    .hostPicture {
        width: 32px;
        height: 32px;
    }
}