.apartmentsTags {
    display: flex;
    border-radius: 10px;
    gap: 10px;
}

.apartmentTag {
    height: 25px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 96, 96);
    border-radius: 10px; 
}